name: front_flutter
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
version: 1.0.0+1

environment:
  sdk: ^3.9.2 # 두 환경 중 더 최신 버전으로 유지했습니다.

# Dependencies specify other packages that your package needs in order to work.
# Dependencies specify other packages that your package needs in order to work.
dependencies:

  # 1. flutter 의존성 (이 블록은 이것 하나로 끝입니다)
  flutter:
    sdk: flutter

  # 2. lottie 의존성 (flutter와 같은 레벨로 들여쓰기)
  lottie: ^3.1.2

  # 3. cupertino_icons 의존성 (flutter와 같은 레벨로 들여쓰기)
  cupertino_icons: ^1.0.8

  # 4. 나머지 의존성 (모두 flutter와 같은 레벨로 들여쓰기)
  camera: ^0.10.0
  image_picker: ^1.0.0
  tflite_flutter: ^0.10.0  # AI 모델용

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices.
  flutter_lints: ^5.0.0 # 두 버전 중 더 최신 버전으로 유지했습니다.

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - assets/images/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package